<footer class="site-footer">

  <div class="row">
    <div class="col-xs-6 sponsors">
      <h4>Sponsered by...</h4>
      <a href="https://hellofutu.re/"><img src="/img/logo-medium.png"></a>
      <a href="http://www.basekit.com/"><img class="basekit" src="/img/BK.png"></a>
    </div>
    <div class="col-xs-6 meetup">
      <h4>Find us on Meetup!</h4>
      <a href="http://www.meetup.com/Bristol-DevOps/"><img src="/img/meetup-logo.png"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 copyright">
      <br><p>&copy; 2014 Hello Future Ltd. Registered in England and Wales. Company No: 08378526.</p>
    </div>
  </div>

</footer>

</div>
