<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="/index.html">
        <img alt="Bristol DevOps" src="/img/logo.png">
      </a>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% assign pages = site.pages | sort:"weight"  %}
      <ul class="nav navbar-nav navbar-right">
      {% for p in pages %}
      <li>
        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
          {{ p.title }}
        </a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>